geno:
scoord:
exp:
gcoord:
anchor:
cis:
lik:
analys:
qnorm:
maf:
covar:
gridL:
gridS:
priorM:
gridM:
bfs:
error:
fiterr:
nperm:
seed:
trick:
tricut:
permsep:
pbf:
maxbf:
thread:
snp:
sbgrp:
wrtsize:
verbose
